<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssafy.appli">
	
	<select id="overid" parameterType="String" resultType="GoneDTO">
		select * from GONE_TB where gone_id=#{gone_id}
	</select>
	
	<select id="getfuneral" parameterType="String" resultType="FuneralListDTO">
		select * from SEARCH_FUNERAL_TB
		where SEARCH_NM like concat('%',#{region},'%')
	</select>
	
	<insert id="registfu" parameterType="FuneralDTO">
		insert into FUNERAL_TB(GONE_ID, FUNERAL_NM, FUNERAL_ADR)
		values(#{gone_id}, #{funeral_nm}, #{funeral_adr})
	</insert>
	
	<insert id="registpro" parameterType="ProcedureDTO">
		insert into PROCEDURE_TB(GONE_ID, ENTER_DT, LEAVE_DT, START_DT, END_DT, KIND, OPEN)
		values(#{gone_id}, #{enter_dt}, #{leave_dt}, #{start_dt}, #{end_dt}, #{kind}, #{open})
	</insert>
	
	<insert id="registfamily" parameterType="FamilyDTO">
		insert into FAMILY_TB(GONE_ID, ENTER_DT, LEAVE_DT, START_DT, END_DT, KIND, OPEN)
		values(#{gone_id}, #{enter_dt}, #{leave_dt}, #{start_dt}, #{end_dt}, #{kind}, #{open})
	</insert>
	
	<insert id="registcon" parameterType="CondolanceDTO">
		insert into CONDOLANCE_TB(ACCOUNT, GONE_ID, HOLDER, BANK)
		values(#{account}, #{gone_id}, #{holder}, #{bank})
	</insert>
	
	<insert id="registgone" parameterType="GoneDTO">
		insert into GONE_TB(GONE_ID, USER_ID, GONE_NM, BIRTH_DT, DEATH_DT, PHOTO_PATH, SERVER_PHOTO, ORIGIN_PHOTO)
		values(#{gone_id}, #{user_id}, #{gone_nm}, #{birth_dt}, #{death_dt}, #{photo_path}, #{server_photo}, #{origin_photo})
	</insert>
	
</mapper>